Source: ossec-hids
Section: admin
Priority: extra
Maintainer: Nicolas Zin <nicolas.zin@gmail.com>
Build-Depends: debhelper (>= 7), libssl-dev
Standards-Version: 3.8.3
Homepage: http://www.ossec.net

Package: ossec-hids
Architecture: any
Pre-Depends: debconf (>= 0.2.17) | debconf-2.0
Depends: libssl1.0.0 | libssl0.9.8
Description: Open Source Security, Host-Based Intrusion Detection System
 It performs log analysis, integrity checking, Windows registry monitoring,
 rootkit detection, real-time alerting and active response.
 This is the common package.

Package: ossec-hids-client
Architecture: any
Pre-Depends: debconf (>= 0.2.17) | debconf-2.0
Depends: libssl1.0.0 | libssl0.9.8
Conflicts: ossec-hids-server, ossec-hids-local
Description: Open Source Security, Host-Based Intrusion Detection System
 It performs log analysis, integrity checking, Windows registry monitoring,
 rootkit detection, real-time alerting and active response.
 This is the client version.

Package: ossec-hids-server
Architecture: any
Pre-Depends: debconf (>= 0.2.17) | debconf-2.0
Depends: libssl1.0.0 | libssl0.9.8
Conflicts: ossec-hids-server, ossec-hids-local
Description: Open Source Security, Host-Based Intrusion Detection System
 It performs log analysis, integrity checking, Windows registry monitoring,
 rootkit detection, real-time alerting and active response.
 This is the server version.

