#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@

override_dh_auto_build:
	echo 'DIR="/var/ossec"' > src/LOCATION
	cd src && make all && make build

override_dh_auto_install:
	dh_install
	echo 'DIR="../debian/ossec-hids-client/var/ossec"' > src/LOCATION
	cd src; ./InstallAgent.sh; cd -
	echo 'DIR="../debian/ossec-hids-server/var/ossec"' > src/LOCATION
	cd src; ./InstallServer.sh; cd -
	mkdir -p debian/ossec-hids-client/etc
	mkdir -p debian/ossec-hids-server/etc
	echo "DIRECTORY=\"/var/ossec\"" > debian/ossec-hids-client/etc/ossec-init.conf
	echo "VERSION=\"v2.7.1\"" >> debian/ossec-hids-client/etc/ossec-init.conf
	echo "DATE=\"`date`\"" >> debian/ossec-hids-client/etc/ossec-init.conf
	echo "TYPE=\"agent\"" >> debian/ossec-hids-client/etc/ossec-init.conf
	echo "DIRECTORY=\"/var/ossec\"" > debian/ossec-hids-server/etc/ossec-init.conf
	echo "VERSION=\"v2.7.1\"" >> debian/ossec-hids-server/etc/ossec-init.conf
	echo "DATE=\"`date`\"" >> debian/ossec-hids-server/etc/ossec-init.conf
	echo "TYPE=\"server\"" >> debian/ossec-hids-server/etc/ossec-init.conf
	# Clean up so the git repo isn't dirty
	git checkout src/LOCATION
